@font-face {
    font-family: AkiraExpanded-SuperBold, ;
    src: url(../fonts/Akira_Expanded.otf);
}

body {
    background-color: #ffffff;
    background-image: url("layouts/Analyst_Desk/AD_Stats.png");
    background-repeat: no-repeat;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    opacity: 1;
}

.analyst {
    /* Layout Properties */
   position: absolute;
   top: 148px;
   width: 247px;
   height: 26px;

   /* UI Properties */
   font-family: 'Akira Expanded', sans-serif;
   font-size: 25px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

#leftAnalyst {
    left: 85px;
    text-align: left;
}

#midAnalyst {
    left: 839px;
    text-align: center;
}

#rightAnalyst {
    left: 1581px;
    text-align: right;
}