@font-face {
    font-family: AkiraExpanded-SuperBold, ;
    src: url(../fonts/Akira_Expanded.otf);
}

@font-face {
    font-family: BebasNeue-Regular;
    src: url(../fonts/BebasNeue-Regular.ttf);
}

body {
    background-image: url("layouts/Caster_Desk.png");
    background-repeat: no-repeat;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    opacity: 1;
}


/* Caster Properties*/

.caster {
    /* Layout Properties */
    position: absolute;
    top: 720px;
    width: 381px;
    height: 40px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    /* UI Properties */
    font-family: 'Akira Expanded', sans-serif;
    font-size: 38.53px;
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

#leftCaster {
    left: 290px;
}

#rightCaster {
    left: 1246px;
}


/* Twitter Properties */

.casterTwitter {
    /* Layout Properties */
    position: absolute;
    top: 773px;
    width: 172px;
    height: 41px;
    /* UI Properties */
    font-family: 'Bebas Neue', cursive;
    font-size: 38.54px;
    text-align: center;
    letter-spacing: 0px;
    color: #0B36B9;
    opacity: 1;
}

#leftTwitter {
    left: 395px;
}

#rightTwitter {
    left: 1325px;
}