body {
    background-color: #000712;
    background-image: url("layouts/2Cam.png");
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    opacity: 1;
}

#leftCaster {
    position: absolute;
    top: 862px;
    left: 267px;
    width: 686px;
    height: 47px;
    text-align: center;
    font: normal normal normal 39px/47px Impact;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .5px;
}

#leftOther {
    position: absolute;
    top: 862px;
    left: 267px;
    width: 686px;
    height: 47px;
    text-align: center;
    font: normal normal normal 39px/47px Impact;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .5px;
}

#rightCaster {
    position: absolute;
    top: 862px;
    left: 967px;
    width: 686px;
    height: 47px;
    text-align: center;
    font: normal normal normal 39px/47px Impact;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .5px;
}

#rightOther {
    position: absolute;
    top: 862px;
    left: 967px;
    width: 686px;
    height: 47px;
    text-align: center;
    font: normal normal normal 39px/47px Impact;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .5px;
}