body {
    background-image: url("layouts/DraftLOL.png");
    background-repeat: no-repeat;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    opacity: 1;
}

.team {
    /* Layout Properties */
    position: absolute;
    top: 72px;
    width: 177px;
    height: 65px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    /* UI Properties */
    font-family: 'Akira Expanded', sans-serif;
    font-size: 62.27px;
    letter-spacing: 1.25px;
    color: #0B36B9;
    opacity: 1;
}

#team1Name {
    /* Score for Team 1 */
    left: 162px;
    text-align: left;
}

#team2Name {
    /* Score for Team 2 */
    left: 1578px;
    text-align: right;
}