body {
    background-image: url("layouts/Score_Overlay.png");
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    opacity: 1;
}

.score {
    /* Master transform properties for Scores*/
    position: absolute;
    text-align: center;
    top: 0.22900009155273438px;
    width: 38px;
    height: 38px;
    font-family: 'Bebas Neue', cursive;
    font-size: 36px;
    letter-spacing: 2.7px;
    opacity: 1;
}

#team1 {
    /* Score for Team 1 */
    left: 543px;
    color: #1393CF;
}

#team2 {
    /* Score for Team 2 */
    left: 1338px;
    color: #BA3539;
}